body {
    font-family: "Roboto", Arial, sans-serif;
}
.jumbotron {
    margin-top: 20px;
}
#studentSelector {
    display: flex;
	flex-wrap: wrap;
}
#studentSelector li {
    margin-bottom: 20px;
}
#studentSelector li {
    list-style: none;
    flex: 0 0 25%;
    text-align: center;
}
#studentSelectorTitle {
    text-align: center;
    margin-bottom: 35px;
}
.md-form {
    margin: 0 0 .5rem 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: .3rem 0 .55rem 0;
    background-image: none;
    background-color: transparent;
    height: auto;
}
#brand-logo {
    margin-right: 10px;
}
#search {
    width: 90%;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    margin: auto; 
    margin-bottom: 20px;
}
@media screen and (max-width: 512px) {
    #studentSelector {
        display: block;
        margin-right: 50px;
    }
    .container {
        width: 100%;    
    }
    
    #studentSelector li a {
        color: #fff;
        

    }
    #studentSelector li a {
        width: 100%;
        display: block;
        text-align: center;
        background: #28a745;
        font-weight: 400;
        margin-bottom: 5px;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
    }
}